.App {
  background: black;
  position: relative;
  text-align: center;
  height: 100%;
  min-height: 100vh;
  display: grid;
  color: white;
  grid-template-rows: 80% auto auto;
  grid-template-areas: 
    "hero hero hero"
    "timeline timeline timeline"
    "footer footer footer";
}

.footer {
  grid-area: footer;
}

